.list-content{
overflow: hidden;
    padding-bottom: 1.333rem;
}
.list-content .list-title{
    text-align: center;
    font-size: 0.427rem;
    margin-top: 0.373rem;
    margin-bottom: 0.1333rem;
}
.list-content .title-line{
    display: inline-block;
    border-bottom: 0.027rem solid #949494;
    height: 0.027rem;
    width: 0.8rem;
    margin-left: 0.107rem;
    margin-right: 0.107rem;
    margin-bottom: 0.107rem;
}
.loading{
    padding-bottom: 0.266667rem;
    padding-top: 0.267rem;
    font-size: 0.42666667rem;
    text-align: center;
    color: #ccc;

}
.r-item-content{
    display: flex;
    padding-top:0.4rem ;
    padding-bottom: 0.4rem;
    margin-left: 0.267rem;
    margin-right: 0.267rem;
    color: #656565;
    position: relative;
}
.r-item-content .item-img{
    width: 2.293rem;
    height: 1.733rem;
    border: 0.027rem solid #e4e4e4;

}
.r-item-content .item-info-content{
    flex:1;
    margin-left: 0.187rem;
    overflow: hidden;

}
.r-item-content .brand{
    position: absolute;
    left: 0.027rem;
    top:0.427rem ;
    font-size: 0.32rem;
    padding: 0.053rem;
    color: #ffffff;
}

.r-item-content .brand-pin{
    background-color: #c4272a;
}
.r-item-content .brand-xin{
    background-color: #21c56c;
}
.r-item-content .item-title{
    margin-top: 0.08rem;
    font-size: 0.427rem;
    font-weight: 500;
    color: #333;
}
.r-item-content .item-desc{
    margin-top: 0.347rem;
    font-size: 0.32rem;
}
.r-item-content .item-count{
     float: left;
     margin-left: 0.1333rem;

 }
.r-item-content .item-time{
    float: right;


}
.r-item-content .item-info{
    margin-left: 0.053rem;


}
.r-item-content .item-distance{
    float: right;
}
.r-item-content .item-score{
    float: left;
}
.r-item-content .item-price{
    margin-top: 0.267rem;
    font-size: 0.32rem;
    height: 0.64rem;
    text-align: left;
}
.r-item-content .item-pre-price{
    text-align: left;
}
.r-item-content .other-info{
    color: #898989;
    margin-top: 0.1866667rem;
    font-size: 0.32rem;
    display: flex;
}
.r-item-content .other-tag{
    width: 0.373rem;
    height: 0.373rem;
}
.other-content{
    margin-left: 0.08rem;
    height: 0.373rem;
    width: 6.133333rem;
    margin-top: 0.027rem;
}
