.tab-bar{
    font-size: 0.427rem;
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    margin-top: 1.707rem;
}
.tab-bar .tab-item{
    flex: 1;
    height: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    color: #666;
    text-align: center;
    text-decoration: none;

}

.tab-bar .tab-item.active:after{
    content: '';
    display: block;
    height: 0.107rem;
    width: 1.6rem;
    position: absolute;
    bottom: 0;
    background-color: #d0272a;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
}
